 /* desktop */
 @media screen and (min-width: 1200px) {

    /* HERO/CONTENT */
    .content-container ul{
        flex-direction: row;
        margin: 5rem;
    }

    .content-container h1{
        margin-top: 8rem;
        font-size: 5rem;
    }

    .content-container p{
        margin-left: 5rem;
        margin-top: 0;
    }
    
    .content-text {
        flex-direction: row;
    }

    .content-text p{
        padding: 5rem;
    }

    .description{
        font-size: 16px;
        margin-bottom: 1rem;
    }

    /* FOOTER SECTION */

    .footer.container {
        flex-direction: row;
    }

    .links {
        margin-right: 20rem;
    }

    .card h4, h5 {
        margin-bottom: 0.5rem;
    }

    .footer-container a {
        padding: 2rem;
    }

    .copyright {
        position: static; 
        margin-top: 1rem; 
        margin-bottom: 1rem; 
    }
}


/* Media query for mobile screens */
@media screen and (min-width: 768px) {

    /* CONTENT SECTION */
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .content-container h1{
        margin-top: 8rem;
    }

    /* CARDS */
    .card-section {
        padding: 0 15px;
        column-gap: 15px;
        row-gap: 20px;
    }

    .card {
        padding: 15px;
    }

    .card h4 {
        margin-bottom: 0.5rem;
    }
    
    .img {
        width: 100%
    }

    .button {
        padding: 8px 12px;
    }

    .description {
        margin-bottom: 1rem;
    }

    /* FOOTER SECTION */
    
    .footer-container {
        height: auto;
    }

    .footer-container img {
        max-height: 30vh;
    }

    .links {
        text-align: center;
        margin: 0; 
        padding: 0; 
    }

    .links h3 {
        font-size: 1.5rem;

    }

    .links li {
        display: block; 
        margin: 10px 0; 
    }

    .copyright {
        position: relative;
        bottom: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}