/* Main */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    outline: none;
    border: none;
    font-weight: 400;
}
button {
    border: initial;
    background: initial;
    font: inherit;

}

body {
    padding-top: 150px;
    background-color: #464D77;
    font-family: 'Roboto',sans-serif;
}
/* Cards */
.card-section {
    max-width: 1150px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}
.card {
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.card:nth-of-type(1) {
    flex: 1 250px;

}

.card:nth-of-type(2) {
    flex: 1 250px;

}

.card:nth-of-type(3) {
    flex: 1 250px;

}


.img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.heading {
    margin: 10px 0 15px;

}

.description {
    margin: 20px;

}

.button {
    margin: auto;
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 1000px;
    font: 12px;

}

/* Accordion */

.accordion {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;

}

.accordion-item {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.accordion-title {
    align-items: center;
    display: flex;
    cursor: pointer;

}

.accordion-title::after {
    content: "+";
    font-size: 40px;
    margin-left: auto;
}

.active-header::after {
    content: "-";
}

.accordion-answer {
    max-height: 0;
    overflow: hidden;
    transition: 1000ms ease max-height;
}